<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>知识沉淀中心</title>
<%= stylesheet_link_tag "application", "/facebox/facebox"%>
<%= javascript_include_tag "prototype", "effects",  "controls","facebox", "application" %>

<div class="container person per-1 yui-skin-sam">
<div class="header">
   <h1>知识沉淀中心</h1>
   <p class="info">欢迎<%= User.current.nickname %>登陆成功！</p>
   <p class="wid">点缀</p>
</div>
	<% tabs = [:all,[:mmap, :kn], :my,[:my_mmap, :my_kn]] %>	

	<div class="content">
		<div class="tab">
			 <%= html_top_menu %>
		</div>
		<div class="meat">
			<%= yield %>
		</div>
		<div class="footer">
		    Powered by &copy; 2009-2010 Taobao QC Team
		</div>
	</div>
</div>
</body>
</html>
